.main-view {
	position: absolute;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	overflow: hidden;
}
.g-sample-text {
	position: relative;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
}
