// Strawman Globals //
//////// Variables ////////

@strawman-font-family-museo-sans: "MuseoSans", "Moon Museo Sans", "Museo Sans", "Helvetica Neue", sans-serif;
@strawman-font-family-miso: "Moonstone Miso", "Moon Miso", "Miso", "Helvetica Neue", sans-serif;

@strawman-font-family-body: @strawman-font-family-museo-sans;
@strawman-font-family-button: @strawman-font-family-miso;
@strawman-font-family-header: @strawman-font-family-miso;

//////// Colors ////////
@strawman-enyo-blue: #08F;



// Strawman Global Rules //
.strawman {
	background-color: white;
	font-family: @strawman-font-family-body;

	&.home {
		padding: 5%;
		text-align: center;

		.strawman-list {
			top: initial;
			bottom: initial;
		}
	}
}
