.trampoline-sample .smaller{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: auto;	
    transform: rotate(45deg);
}
.trampoline-sample .bigger {
    position: relative;
    top: 100px;
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: red;
}
.trampoline-sample .container{
	margin: auto;
	top: 0;
	left: 0;
	bottom: 50%;
	right: 0;
	width: 300px;
	height: 50%;
}