[submodule "lib/enyo"]
	path = lib/enyo
	url = git@github.com:enyojs/enyo2.git
[submodule "lib/layout"]
	path = lib/layout
	url = git@github.com:enyojs/layout2.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = git@github.com:enyojs/onyx.git
[submodule "lib/enyo-ilib"]
	path = lib/enyo-ilib
	url = git@github.com:enyojs/enyo-ilib.git
[submodule "lib/moonstone"]
	path = lib/moonstone
	url = git@github.com:enyojs/moonstone2.git
[submodule "lib/spotlight"]
	path = lib/spotlight
	url = git@github.com:enyojs/spotlight2.git
[submodule "lib/canvas"]
	path = lib/canvas
	url = https://github.com/enyojs/canvas.git
