.strawman .strawman-list {
	top: 5em;

	// All items
	.link {
		margin: 0.5em;
		height: 2em;
		line-height: 2em;
		color: @strawman-enyo-blue;
		background-color: fade(@strawman-enyo-blue, 10%);
		display: block;
		padding: 0 1.3em;
		text-decoration: none;
		overflow: hidden;
		position: relative;

		&.spotlight {
			background-color: fade(@strawman-enyo-blue, 20%);
		}

		&.new,
		&.wip,
		&.deprecated {
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				background-color: @strawman-enyo-blue;
				color: white;
				-webkit-transform: translateY(100%) rotate(-90deg) scale(0.5);
				-moz-transform: translateY(100%) rotate(-90deg) scale(0.5);
				-ms-transform: translateY(100%) rotate(-90deg) scale(0.5);
				transform: translateY(100%) rotate(-90deg) scale(0.5);
				-webkit-transform-origin: top left;
				-moz-transform-origin: top left;
				-ms-transform-origin: top left;
				transform-origin: top left;
				font-family: @strawman-list-badge-font-family;
				font-weight: @strawman-list-badge-font-weight;
				font-style: @strawman-list-badge-font-style;
				width: 4em;
				text-align: center;
			}
		}

		&.new {
			@badge-color: #E53935;
			&:before {
				content: 'New!';
				background-color: @badge-color;
			}
		}

		&.wip {
			@badge-color: #2196F3;
			&:before {
				content: 'WIP';
				background-color: @badge-color;
			}
		}

		&.deprecated {
			@badge-color: purple;
			&:before {
				content: 'Dep ✕';
				background-color: @badge-color;
			}
		}
	}

	// Items inside a vertical list
	.list a {

	}

	// Items inside a grid
	.grid .link {
		display: inline-block;
		background-color: @strawman-enyo-blue;
		background-image: none;
		height: 3em;
		line-height: 3em;
		color: #FFF;
		border-radius: 0.2em;

		&.spotlight {
			background-color: lighten(@strawman-enyo-blue, 10%);
		}
	}

	@media only screen and (min-width: @strawman-screen-min-size-tv) {
		.link {
			font-size: 2em;
		}
	}

	@media only screen and (max-width: @strawman-screen-max-size-wearable) {
		// Items inside a grid
		.grid .link {
			height: 2.4em;
			line-height: 2.4em;
			margin: 0.2em;
			padding: 0 0.8em;
		}

		.list-frame:not(.grid) .link {
			font-size: 1.5rem;
		}
	}
}
