.moon-input-sample .moon-input-decorator, .moon-input-sample .moon-textarea-decorator {
	margin: 18px;
}

.moon-input-sample-result {
	padding-top:20px;
}

.moon-input-sample-value-padding {
	padding: 0px 10px;
}

.moon-input-sample .range-inputs {
	/* clamping width to force each input onto its own line */
	width: 300px;
}