.eclipse-sample {
	background-color: black;
}
.eclipse-sample .eclipse{
	border-radius: 50%; height: 200px; width: 200px; left: 100px; position: absolute; background-color: rgb(0, 0, 0); box-shadow: -100px 0px rgb(255, 255, 0);
}

.eclipse-sample .container{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 55%;
}
