/* InputSample */

.sun-input-sample-result {
	margin: 10px;
	padding: 10px;
	height: 120px;
	border: 5px solid #dedede;
	border-radius: 20px;
	background-color: #dedede;
	word-break: break-all;
	overflow: hidden;
}

.sun-input {
	width: 224px;
}

.sun-input-sample .sun-input-sample-fittable {
	width: 100%;
}

.sun-input-sample .display-inlineblock {
	display: inline-block;
}

.sun-input-sample .display-block {
	overflow: auto;
	display: block;
}

.sun-input-sample-withicon-decorator,
.sun-input-sample-richtext-decorator {
	width: 904px;
}

.sun-input-sample-withicon-input,
.sun-input-sample-withicon-textarea,
.sun-input-sample-withicon-richtext {
	width: 704px;
}

.sun-input-sample-withicon-decorator > .sun-input-sample-right-icon,
.sun-input-sample-richtext-decorator > .sun-input-sample-right-icon {
	margin-left: 33px;
}

.sun-input-sample-withicon-decorator > .sun-input-sample-left-icon,
.sun-input-sample-richtext-decorator > .sun-input-sample-left-icon {
	margin-right: 24px;
}

