/* ListSample */

.sun-list-sample {
	background-color: #eee;
}

.list-sample-item {
	border: 1px solid #e6e6e6;
	padding: 20px;
	font-size: 18px;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.6);
}

.list-sample-index {
	float: right;
}

.sun-list-sample .reorderDragger {
	background-color: rgba(0,0,0,0.2);
}

.list-sample-item.pressed {
	background-color: #dfe0e1;
}