/* PopupSample */

.sun-sample-popup {
	max-height: 800px;
	width: 80%;
	padding: 0px;
	overflow: hidden;
}

.sun-sample-spaced-button {
	margin: 6px 10px;
}

.bottom-okcancle-button {
	background-color: #ffffff;
	font-size: 18px;
	color : #2eb6cf;
	font-weight: bold;
	height: 36px;
	padding: 0 8px;
	margin-left: 8px;
}

.dialog_title {
	font-size: 20px;
	color: #000000;
	height: 56px;
	line-height: 56px;
	padding: 0 24px;
}

.dialog_radioitem {
	margin: 8px 0;
	padding: 0 24px;
}

.sub {
	margin: 0;
}

.dialog_radioitem .sun-radio {
	right: 24px;
}

.dialog_divider {
	border-bottom: 1px solid #e6e6e6;
}

.command_buttons_wrapper {
	position: relative;
	height: 56px;
}

.command_buttons {
	position: absolute;
	right: 0;
	margin: 10px 16px;
}

.command_buttons .sun-button.pressed:not([disabled]){
  background-color: #e5e5e5;
}