@media all and (min-width:1025px){
/* 데스크탑 CSS 작성 */
/*.sun-radio-item{
	display: block;
	position: relative;
	font-size: 54px;
	font-weight: normal;
	font-style: normal;
	color : #000000;
	padding: 0 36px 0 36px;
}*/

}