.strawman {

	.back-button {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 999px;
		background-color: @strawman-enyo-blue;
		margin: 10px;
		line-height: 3.5em;
		width: 3.5em;
		text-align: center;
		color: white;
		text-decoration: none;
		text-transform: lowercase;
		opacity: 0.6;
		transition: opacity 0.25s;
		font-family: @strawman-font-family-button;

		&.spotlight {
			opacity: 1;
		}

		@media only screen and (max-width: @strawman-screen-max-size-wearable) {
			opacity: 0.01;
			width: 100%;
			margin: 0;
			line-height: 2em;
			font-size: 3em;
			border-radius: 0;
		}
	}
}
