/* CheckboxSample */

// common
.g-sample-circle-panel {
	background-color: #000000;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.g-sample-checkbox-container {
	width: 255px; height: 230px;
}
.g-samle-checkbox-checkboxes-text {
	margin-left: 10px; font-size: 20px; display: inline-block; margin-right: 10px; color: #FFFFFF;
}
.g-samle-checkbox-checkboxes-group-text {
	font-size: 20px; display: inline-block; margin-right: 10px; color: #FFFFFF;
}
