/* DataListwithCardsSample */

.g-sample-datalist-cards {
// Common classes

.g-sample-panel-margin {
	background-color: #000000;

	position: relative;
	display: inline-block;
	margin-right: 10px;
	overflow: hidden;
}
.g-sample-circle-panel-margin {
	background-color: #000000;

	position: relative;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	overflow: hidden;
}
.g-sample-panels {
	position: relative;
	height: 100%;
}

// Sample specific classes

.g-sample-datalist-cards-list {
	width: 240px;
	height: 320px;
	margin-left: 40px;
}
.g-sample-datalist-cards-list-header {
	height: 70px;
}
.g-sample-datalist-cards-list-footer {
	height: 34px;
}
.g-sample-datalist-cards-item {
	height: 320px;

	line-height: 320px;
}

.g-sample-datalist-smallcards-item {
	width: 240px;
}

.g-sample-datalist-smallcards-item img {
	display: block;
	width: 184px;
	height: 184px;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.3px;
}

.g-sample-datalist-smallcards-title {
	width: 240px;
	height: 24px;
	margin-bottom: 8px;

	font-size: 24px;
	text-align: center;
}
}
