/* DataListSample */

// Common classes

.g-sample-panel {
	background-color: #000000;

	position: relative;
	overflow: hidden;
}

// Sample specific classes

.g-sample-datalist-footer {
	border-top: 3px solid #202328;
}
.g-sample-datalist-footer > .g-button {
	width: 122px;
	height: 60px;
	margin: 10px 99px 9px;
}
.g-sample-datalist-item {
	position: relative;
	height: 134px;
	overflow: hidden;

	cursor: pointer;
}
.g-sample-datalist-item-icon {
	position: absolute;
	width: 60px;
	height: 60px;
	margin: auto 0;
	top: 0;
	bottom: 0;
	left: 38px;
}
.g-sample-datalist-item-title {
	width: 170px;
	height: 47px;
	margin: 16px 0 0 112px;

	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
}
.g-sample-datalist-item-genre {
	width: 170px;
	height: 30px;
	margin: 4px 0 0 112px;

	color: #AFAFAF;
	text-align: center;
	font-size: 26px;
}
