/* DataListSample.less */

.g-sample-datalist-panel {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
}
.g-sample-datalist {
	background-color: #000000;
}
.g-sample-datalist-header {
	height: 124px;
}
.g-sample-datalist-footer {
	width: 122px;
	height: 82px;
	margin: 21px 99px;
}
.g-sample-datalist-item {
	position: relative;
	height: 71px;
	border-bottom: 1px solid #202328;
	overflow: hidden;
	cursor: pointer;
}
.g-sample-datalist-item-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
	margin: auto 0;
	width: 48px;
	height: 48px;
}
.g-sample-datalist-item-title {
	width: 232px;
	height: 32px;
	margin-left: 68px;
	font-size: 28px;
	color: #FAFAFA;
}
.g-sample-datalist-item-genre {
	width: 232px;
	height: 26px;
	margin: 5px 0 0 68px;
	font-size: 22px;
	color: #A0A0A0;
}
