/* DataGridListwithCardsSample */

.g-sample-datagridlist-cards {
	// Common classes

	.g-sample-panel-margin {
		background-color: #000000;

		position: relative;
		display: inline-block;
		margin-right: 10px;
		overflow: hidden;
	}
	.g-sample-panel-margin {
		background-color: #000000;

		position: relative;
		display: inline-block;
		margin-right: 10px;
		overflow: hidden;
	}
	.g-sample-circle-panel-margin {
		background-color: #000000;

		position: relative;
		display: inline-block;
		border-radius: 50%;
		margin-right: 10px;
		overflow: hidden;
	}

	// Sample specific classes

	.g-sample-datagridlist-panel-card {
		background-color: #000000;

		width: 212px;
		height: 320px;
		padding-top: 6px;
		margin: auto;
	}
	.g-sample-datagridlist-cards-imageitem.g-selection-overlay-support.item{
		width: 212px;
		height: 212px;

		text-align: center;

		cursor: pointer;
	}
	.g-sample-datagridlist-cards-imageitem.g-selection-overlay-support.item img {
		width: 212px;
		height: 212px;
		margin-top: 0.8px;
	}
	.g-sample-datagridlist-cards-circle-imageitem.g-selection-overlay-support.item{
		width: 212px;
		height: 212px;

		text-align: center;

		cursor: pointer;
	}
	.g-sample-datagridlist-cards-circle-imageitem.g-selection-overlay-support.item img {
		width: 212px;
		height: 212px;
		border-radius: 100%;
	}
	.g-sample-datagridlist-cards-circle-imageitem .caption{
		width: 106px;
		height: 22px;
		margin-left: 54px;
		margin-top: -3px;

		font-size: 22px;
		color: #FAFAFA;

		-webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #FFFFFF 28px, #FFFFFF);
		-webkit-mask-image: linear-gradient(right, rgba(0, 0, 0, 0), #FFFFFF 28px, #FFFFFF);
	}

	/* GridList Imageitem */
	.selection-enabled .g-sample-datagridlist-cards-imageitem.g-selection-overlay-support.selected .g-icon-button {
		background-position: 0 -120px;
	}
	.g-sample-datagridlist-cards-imageitem .g-selection-overlay-support-scrim .g-selection-overlay-support-checkbox {
		position: absolute;
		margin-top: 0;
		margin-left: 0;
	}
}
