/* IconSample */

// Common classes

.g-sample-icon .g-sample-circle-panel {
	background-color: #000000;

	position: relative;
	border-radius: 50%;
	overflow: hidden;
}
.g-sample-icon .g-sample-text {
	display: inline-block;

	font-size: 20px;
	color: #FFFFFF;
}

// Sample specific classes

.g-sample .g-sample-icon .g-icon {
	margin-right: 10px;
}
.g-sample .g-sample-icon .g-sample-button-warning {
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-color: black;

	width: 22px;
	height: 22px;
}
.g-sample-icon-container {
	width: 255px;
	height: 230px;
}
