/* WheelSliderControllerSample.less */

.g-sample .g-sample-wheel-slider-ok-image {
	.g-common-ok;
	pointer-events: auto;
	margin: 0 75px 0 17px;
}
.g-sample .g-sample-wheel-slider-cancel-image {
	.g-common-cancel;
	pointer-events: auto;
	margin: 0 17px 0 75px;
}
.g-sample-wheel-slider-text-animation {
	// Animation Properties

	animation: g-sample-wheel-slider-text-animation 0s ease-out;
	-webkit-animation: g-sample-wheel-slider-text-animation 0s ease-out;
}
@keyframes g-sample-wheel-slider-text-animation {
	0% {
		transform: translate3d(0, -100px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
@-webkit-keyframes g-sample-wheel-slider-text-animation {
	0% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
