/* WheelSliderControllerSample */

// Common
.g-sample-panel {
	background-color: #000000;

	position: relative;
	overflow: hidden;
}
.g-sample-circle-panel {
	background-color: #000000;

	position: relative;
	border-radius: 50%;
	overflow: hidden;
}
.g-sample-result {
	background-color: #EDEDED;

	position: fixed;
	width: 100%;
	min-height: 160px;
	bottom: 0;
	z-index: 9999;
	opacity: 0.8;
}
.g-sample-pointer-evetns-none {
	pointer-events: none;
}

.g-sample .g-sample-wheel-slider-ok-image {
	.g-common-ok;

	margin: 0 75px 0 17px;

	pointer-events: auto;
}
.g-sample .g-sample-wheel-slider-cancel-image {
	.g-common-cancel;

	margin: 0 17px 0 75px;

	pointer-events: auto;
}
.g-sample-wheel-slider-value {
	display: block;
	width: 60%;
	height: 99px;
	margin-top: 60px;
	margin-left: 20%;

	text-align: center;
	font-weight: 400;
	font-size: 100px;

	pointer-events: auto;
}
.g-sample-wheel-slider-text {
	display: block;
	width: 80%;
	margin-left: 10%;

	text-align: center;
	color: #FFFFFF;
	font-weight: 800;
	font-size: 22px;

	pointer-events: auto;
}
.g-sample-wheel-slider-container {
	margin-top: 15px;
}
