.stage {
    position: absolute;
    width: 500px;
    height: 500px;
    /*top: 120px; left: 120px;*/
    top: 25%;
    left: 45%;
}

.cubespinner {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
    width: 500px;
    height: 500px;
}

.cubespinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, .8);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 100px;
}
