.cube .cubespinner{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 60px 60px 0;
	-moz-transform-origin: 60px 60px 0;
	-ms-transform-origin: 60px 60px 0;
	transform-origin: 60px 60px 0
}
.cubespinner div{
	position: absolute;
	width: 120px;
	height: 120px;
	border: 1px solid #ccc;
	background: rgba(255,255,255,.8);
	box-shadow: inset 0 0 20px rgba(0,0,0,.2);
	text-align: center;
	font-size: 100px;
}

.cube .container{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 0;
}
